	<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
	<% end %>


	<h2 class='tableHeader'><%= link_to "Player and Coach Directory", players_path, id: 'players_id'%></h2>

	<table id=searchTable>
	<tr>
		<%= form_tag(players_path, method: 'get') do %>
			<td>
			<%= text_field_tag :search, nil, placeholder: "Search by name or number", id: 'searchField', class: 'search'  %>
		</td>
		<td>
			<%= button_tag 'Search', id: 'searchButton', class: 'search button'%>
		</td>
		<% end %>
	
		<td id=spacer>
		</td>

	
		<%= form_tag("/find", method: 'get') do %>
			<td>
				<%= text_field_tag :name, nil, placeholder: "Enter player name", id: 'nameField', class: 'search'  %>
				<%= text_field_tag :number, nil, placeholder: "Enter player number", id: 'numberField', class: 'search'  %>
			</td>
			<td>
				<%= button_tag 'Find', class: 'search button'%>
			</td>
		<% end %>
	</tr>
	</table>

	<%= render 'teams/team_table' %>
	
	<h2 class='tableHeader'><%= link_to "Transfer Players", transfer_path %></h2>