<h2 class='tableHeader'>Games Played</h2>

<table class = 'hover-table sortable centerTable'>
  <thead>
    <tr>
      <th>Game</th>
      <th>Result</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.home_team.name %>(<%= game.home_team_score %>) vs <%= game.away_team.name %>(<%= game.away_team_score %>)</td>
        <td><%= game.result(@team_name) %></td>
        <td><%= game.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
