<div class='centered'>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coach.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @coach.team.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @coach.title %>
</p>

<%= link_to 'Players and Coaches Directory', players_path %>

</div>