<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coach.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @coach.team %>
</p>

<p>
  <strong>Title:</strong>
  <%= @coach.title %>
</p>

<%= link_to 'Edit', edit_coach_path(@coach) %> |
<%= link_to 'Back', players_path %>
