
<h2 class='tableHeader' id='playerHeader'>Players</h2>

<table class='hover-table sortable centerTable' id='playerTable'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>Number</th>
      <th>Age</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <%= content_tag(:tr, :class => "draggable", :id => player.id, :name => player.name) do %>
        <td>
          <span class='handle'></span>
          <%= link_to player.name, player %>
        </td>
        <td><%= link_to player.team.name, player.team %></td>
        <td><%= player.number %></td>
        <td><%= player.age %></td>
      <% end %>
    <% end %>
  </tbody>
</table>


