

<h3>Player and Coach Directory</h3>

<table id='mainTable'>
  <tr id='mainRow'>
    <td id='playersColumn'>
      <%= render 'player_table' %>
      <div class='centered verticalSpace'>
        <%= form_tag(players_path, method: 'get') do %>
        <%= text_field_tag :age, nil, placeholder: "Age", id: 'age', class: 'roundUpsize'  %>
        Enter minimum age <%= button_tag 'Display', class: ' button'%>
      </div>
      </td>
    <% end %>
    <td>
      <%= render 'coaches/coaches_table' %>
    </td>
  </tr>
</table>

<script>
    $('.button').addClass('animated shake');
</script>
