<h3>Player and Coach Directory</h3>

<table id='mainTable'>
  <tr id='mainRow'>
    <td id='playersColumn'>
      <%= render 'player_table' %>
      <br>
        <%= form_tag(players_path, method: 'get') do %>
        <%= text_field_tag :age, nil, placeholder: "Age", id: 'age', class: 'age'  %>
        Enter minimum age <%= button_tag 'Display', class: ' button'%>
      </td>
    <% end %>
    <td>
      <%= render 'coaches/coaches_table' %>
      <br>
    </td>
  </tr>
</table>
