<!DOCTYPE html>
<html>
<head>
  <title>RailsFootballManager</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<h1 class="rainbow"><%=link_to "Football Manager",root_path%></h1>
  <link rel="assets/stylesheet" href="animate.min.css">

</head>
<body>

<%= yield %>

</body>
</html>
